PORT=4000
MONGO_URI=mongodb+srv://monikajothi07_db_user:EwfgEGqcZndDZgNp@cluster0.vgktdux.mongodb.net/?appName=Cluster0
JWT_SECRET=change-this-to-a-long-random-string
JWT_EXPIRES_IN=30d
CLIENT_ORIGIN=http://localhost:5173
